body{
    display: flex;
    justify-content: center;
}

.backgroundL{
    width: 100%;
    height: 100%;
}
.container {
  border: 0px solid green;
  display: flex;
 flex-direction: column;
  margin-top: 0.5rem;
  width: 28.3rem;
  border-radius: 1rem;
  padding-top: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.logo {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  width: 5.0rem;
  border: 0px solid green;
  margin-top: -1.3rem;
}

.container .task {
  padding: none;
  border: 0px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.container .task h2 {
  font-size: 1.8rem;
  
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.container .task p {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  margin-top: -2.5rem;
  opacity: 0.5;
}

.button {
  border: 0px solid green;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.fa-user {
  border: 0px solid violet;
  width: 2.5rem;
}

.toggle {
  border: 0px solid black;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  border-radius: 0.8rem;
  gap: 1rem;
  width: 90%;
  background-color: rgb(223, 221, 221);
}
.container .button .toggle button {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  border: none;
  background-color: transparent;
}

.container button.active {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.form {
  border: 0px solid red;
  padding-left: 1.7rem;
  margin-top: -1.7rem;
}

.label {
  border: 0px solid purple;
  font-size: 0.88rem;
  margin-top: 1.1rem;
  font-weight: 200;
}

.input {
  display: flex;
  flex-direction: column;
  border: 0px solid palevioletred;
}

input {
  width: 95%;
  padding: 0.3rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 1.0rem;
  font-family: "Nunito", sans-serif;
}

input[type="password"]::placeholder {
  font-size: 2.8rem;
}

.input2,
.input3 {
  border: 0px solid goldenrod;
  margin-top: 2rem;
}

.input3 {
  border: 0px solid goldenrod;
  margin-top: 0rem;
}

.userr {
  display: flex;
  align-items: center;

  border: 1px solid black;
  opacity: 0.2;
  width: 90%;
  padding: 0.4rem;
  
  border-radius: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.user1,
.user2,
.user3 {
  margin-top: 0.2rem;
}

#passchar {
  font-size: 1.15rem;
  margin-top: 1.35rem;
}

.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
  border: 0px solid red;
  font-size: 0.5rem;
}

.container footer .foot{
  font-size: 0.75rem;
}

.container footer p{
    padding: 0;
    margin: 0;
}
.container footer .foot2{
  font-size: 0.8rem;
}

.container footer .blue {
  color: blue;
}


.container #sectionBtn button:nth-child(1){
    border: 2px solid rgb(208, 207, 207);
   padding: 0.7rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.7rem;
    background-color: rgb(248, 247, 247);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    color: black;
    
    transition: 0.5s ease-in-out;
}

.container #sectionBtn button:nth-child(1):hover{
    color: white;
}

.container #sectionBtn button:nth-child(2){
    border: 2px solid rgb(208, 207, 207);
   padding: 0.7rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.7rem;
    background-color: rgb(248, 247, 247);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: #ECAB00;
    border: none;
    color: black;
    
    transition: 0.5s ease-in-out;
}

.container #sectionBtn button:nth-child(2):hover{
    background: linear-gradient(to right, #ECAB00, #D48B00);
}

.container #sectionBtn{
    display: flex;
    border: 0px solid red;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0.5rem;
    gap: 1.0rem;
    font-size:0.5rem ;
}

.container #help{
    font-size: 1.0rem;
    font-weight: bold;
}