.dashboard-area{
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.dashboard-area__greeting h1{
    font-size: 2.0rem;
    font-weight: bold;
}

.dashboard-area__greeting p{
    opacity: 0.5;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.dashboard-area__card{
    display: flex;
    flex-direction: column;
    gap: 4.0rem;
    border: 0px solid red;
    width: 12.0rem;
    padding: 1.0rem;
    border-radius: 1.0rem;
    box-shadow: 0 0 0.4rem;
    box-sizing: border-box;
}

.dashboard-area__card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.dashboard-area__card-top img{
    width: 1.8rem;
}

.cardUpper{
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}


.cardLower  {
    border: 2px solid red;
    display: flex;
}

.cardLower .box1, .box2{
    border: 2px solid black;
    width:50%;
    height: 8.0rem;
    border-radius: 1.0rem;
}

.box1{
    padding: 1.0rem;
    
}

.box1_up{
    display: flex;
    align-items: center;
    gap: 1.0rem;
    padding: 1.0rem;
    
}

.box1_up p{
    font-size: 1.0rem;
}

.div_center{
    text-align: center;
}

