.dashboard-area{
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.dashboard-area__greeting h1{
    font-size: 2.0rem;
    font-weight: bold;
}

.dashboard-area__greeting p{
    opacity: 0.5;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.dashboard-area__card{
    display: flex;
    flex-direction: column;
    gap: 4.0rem;
    border: 0px solid red;
    width: 12.0rem;
    padding: 1.0rem;
    border-radius: 1.0rem;
    box-shadow: 0 0 0.4rem;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.dashboard-area__card:hover{
    box-shadow: 0 0 0 0.02rem;
}

.dashboard-area__card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.dashboard-area__card-top img{
    width: 1.8rem;
}

.cardUpper{
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}


.cardLower  {
    border: 0px solid red;
    display: flex;
    gap: 1.0rem;
}

.cardLower .box1, .box2{
    border: 1px solid rgb(230, 227, 227);
    width:50%;
   
    border-radius: 1.0rem;
}

.box1{
    padding: 1.0rem;
    
}

.box1_up{
    display: flex;
    align-items: center;
    gap: 1.0rem;
    padding: 1.0rem;
    
}

.box1_up p{
    font-size: 1.0rem;
}

.div_center{
    text-align: center;
    margin-top: 10%;
}


.logoImage{
    background-color: #155DFC;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: white;

}

.box2 .action{
    display: flex;
    border: 0px solid red;
    padding: 0.5rem;
    gap: 0.5rem;
}

.box2 .task_item .logos{
    border: 0px solid red;
    width: 2.5rem;
    height: 2.5rem;
    
    padding: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 .task_item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid rgb(244, 240, 240);
    padding: 0.5rem;
    background-color: #F9FAFB;
    transition: all 0.3s;
}

.box2 .task_item:hover{
    background-color: #06B6D4;
}

.box2 .section_card{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box2 .task .text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

.box2 .task .text .header{
   font-size: 1.2rem;
   font-weight: bold;
}

.box2 .task .text .faint{
    opacity: 0.6;
}

.dashboard-area .box2{
    padding: 0.8rem;
    background-color: white;
    
}

