
.buttonn{
   border: 2px solid rgb(208, 207, 207);
   padding: 1.5rem;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.0rem;
    background-color: rgb(248, 247, 247);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
    
    
}

.buttonn:hover{
    color: white;
}

.button-warning{
    background-color: #ECAB00;
   
    border: none;
    color: black;
}

.button-warning:hover{
    background: linear-gradient(to right, #ECAB00, #D48B00);
}

#help{
    font-size: 1.3rem;
    font-weight: bold;
}

 #sectionBtn{
    display: flex;
    border: 0px solid green;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    padding: 1.0rem;
    gap: 1.5rem;
    
}