.task{
   border: 0px solid red;
   border-radius: 1.0rem;
   padding: 0.3rem;
   box-shadow: 0 0 0.2rem;
}

.management{
    border: 0px solid green;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1.0rem;
    background-color:#F9FAFB;
}

.management .management-manage{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#management_img{
        width: 2.5rem;
}

.management .management-manage h2{
    font-weight: bold;
}

.management .management-manage p{
    opacity: 0.5;
}

/* summary styles */

.summary{
    border: 0px solid green;
    padding: 2.0rem;
    display: flex;
    flex-direction: column;
}

.summary_box1{
    background-color: #F3F4F6;
    border: 0px solid red;
    width: 15.0rem;
    display: flex;
    padding: 0.4rem;
    gap: 1.0rem;
    align-items: center;
    border-radius: 0.2rem;
    margin-top: 1.0rem;
}

.summary_box1 #circle, #chart{
    display: flex;
    align-items: center;
    border: 0px solid black;
    gap: 0.6rem;
    padding: 0.2rem;
    width: 50%;
     font-size: 0.8rem;
     font-weight: bold;
}

.summary_box1 #circle{
    background-color: white;
    border-radius: 0.2rem;
    width: 50%;
}

.summary_box1 #circle .material-symbols-outlined{
    width: 1.2rem;
    
   
}

.summary_box1 #circle #my_task{
    font-size: 0.8rem;
}

.summary_box2{
    padding: 1.2rem ;
    padding-left: 0;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary_box2 .record{
    display: flex;
    align-items: center;
    border: 0px solid green;
    gap: 0.7rem;
}

.summary_box2 .record #tag2{
    height: 1.8rem;
    width: 0.07rem;
    opacity: 0.5;
    background-color: rgb(14, 14, 14);
}

.summary_box2 .record #tag1, #tag3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0px solid greenyellow;
    
}

.summary_box2 .record div #zero, #colorg{
        font-size: 2.0rem;
}

.summary_box2 .record div #colorg{
    color: #00A63E;
}

.summary_box2 .record .activeTag{
    opacity: 0.6;
}

.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1447E6;
    padding: 0.4rem;
    border: none;
    border-radius: 0.4rem;
}


.summary .summary_box3{
    border: 2px dashed #A3B3FF;
    margin-top: 1.0rem;
    background-color: #F3F6FE;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    opacity: 0.7;
    border-radius: 1.0rem;
}
.summary .summary_box3 #round{
    width: 3.0rem;
    height: 3.0rem;
    border-radius: 50%;
    border: 4px solid #A3B3FF;

}



/* modal */

.modal{
   background-color: #e0e9f2;
    width: 25.5rem;
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 5%;
   padding: 1.5rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 0 0.05rem;

}

#modal_close-btn{
    border: 0px solid red;
    display: flex;
    justify-content: end;
}

.modal .modal_new{
    border: 0px solid red;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0;
}

.modal .modal_new h1,h3{
   margin: 0rem;
}

.modal h3{
    opacity: 0.6;
    padding: 0.2rem 0;
}

.modal_new .material-symbols-outlined{
    color: blue;
     
}

.form_title{
    border: 0px solid red;
    margin: 0.6rem 0;
    
}

.form_title #title{
    font-size: 1.2rem;
}

.title_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

.modal input{
    width: 90%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem ;
}

.modal textarea{
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem ;
}

.modal input:focus, textarea:focus{
    outline-color: rgb(77, 77, 246);
}

.title_input .material-symbols-outlined{
    color: rgb(160, 156, 156);
}

form .form_detail{
    display: flex;
    flex-direction: column;
    border-radius: 1.0rem;
}

form .form_detail #details{
    font-size: 1.2rem;
}

.form_detail input{
    height: 2.7rem;
    
}

.form_detail input::placeholder{
    display: flex;
    align-items: start;
}

form .form_select{
    display: flex;
    justify-content: space-between;
    margin: 1.0rem 0;
}


.form_select-select{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

select{
    border: 0px solid red;
    width: 10.0rem;
    padding: 0.2rem;
    
}

.form_select .date{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal form .btn{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    margin: 1.0rem 0;
    border: 0px solid red;
    padding: 0.5rem;
}

.modal form .btn #btn1{
    font-size: 1.0rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(217, 215, 215);
    background-color: white;
    color: black;
}

.modal form .btn #btn2{
      font-size: 1.0rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: blue;
    color: white;
}



dialog{
    z-index: 1;
    border: none;
    background-color: transparent;
}