.container {
  border: 0px solid green;
  margin-top: 1.4rem;
  width: 100%;
  border-radius: 1rem;
  padding-top: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.logo {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  width: 8rem;
}

.container .task {
  padding: none;
  border: 0px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.container .task h2 {
  font-size: 3rem;
  margin-top: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.container .task p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  /* font-style: normal; */
  opacity: 0.5;
}

.button {
  border: 0px solid green;
  padding: 4.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.fa-user {
  border: 0px solid violet;
  width: 2.5rem;
}

.toggle {
  border: 0px solid black;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  border-radius: 0.8rem;
  gap: 1rem;
  width: 90%;
  background-color: rgb(223, 221, 221);
}
.container .button .toggle button {
  width: 90%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
}

.container button.active {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.form {
  border: 0px solid red;
  padding-left: 2.5rem;
  margin-top: -1.7rem;
}

.label {
  border: 0px solid purple;
  font-size: 1.4rem;
  margin-top: 0.3rem;
  font-weight: 200;
}

.input {
  display: flex;
  flex-direction: column;
  border: 0px solid palevioletred;
}

input {
  width: 95%;
  padding: 0.4rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  
}



input::placeholder {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

input[type="password"]::placeholder {
  font-size: 3rem;
}

.input2,
.input3 {
  border: 0px solid goldenrod;
  margin-top: 2rem;
}

.userr {
  display: flex;
  align-items: center;

  border: 1px solid rgba(0, 0, 0,0.2);
  width: 90%;
  padding: 0.8rem;
  /* margin-top: 1rem; */
  border-radius: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.user1,
.user2,
.user3 {
  margin-top: 1rem;
}

#passchar {
  font-size: 1.15rem;
  margin-top: 1.35rem;
}

.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  border: 0px solid red;
  font-size: 1.2rem;
}

.container footer .foot{
  font-size: 1.25rem;
}

.container footer .foot2{
  font-size: 1.35rem;
}

.container footer .blue {
  color: blue;
}


/* validation */

.error-message {
  color: red;
  font-size: 0.9em;
  position: absolute;
  top: 4.0em;
}


input.invalid {
  border-color: red;
}
