.community{
    border: 1px solid rgb(214, 212, 212);
}

.community .community_group{
    display: flex;
    align-items: center;
    gap: 1.0rem;
    border: 1px solid rgb(209, 206, 206);
    padding: 1.5rem;
    background-color: var(--backgroundColor);
}

.community_group .board{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.community_group .community_group-user{
    border: 0px solid black;
    background-color: #4F39F6;
    color: white;
    padding: 0.5rem;
    border-radius: 0.8rem;
}



.community .parent_com{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.parent_com .community_post{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.0rem;
    border-radius: 1.0rem;
    border: 1px solid rgb(212, 209, 209);

}

.parent_com .community_post .community_post-desc{
    display: flex;
}

.parent_com .community_post .community_post-desc{
    display: flex;
    gap: 1.5rem;
}

.parent_com .community_post .community_post-desc input{
    width:80%;
    height: 4.0rem;
    border: none;
    outline: none;
}

.parent_com .community_post .community_post-desc input:focus{
    border: 2px solid #8cb3f1;
    
}

.parent_com .community_post .btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.parent_com .community_post .btn button{
     background-color: blue;
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
}

.parent_com .community_post .community_post-desc label{
    padding: 0.75rem;
    background-color: blue;
    color: white;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.parent_com .info{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.0rem;
    border-radius: 1.0rem;
    border: 1px solid rgb(212, 209, 209);
    margin: 1.0rem 0;
}

.parent_com .info .user{
    display: flex;
    gap: 1.0rem;
    align-items: center;
}

.parent_com .info #name{
     padding: 0.75rem;
    background-color: blue;
    color: white;
    height: 1.0rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.parent_com .info .desc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

