:root{
    font-size: 10px;
}



.backgroundImage{
	width: 100%;
	height: 100%;
}

input[type="radio"]{
    padding: 0;
    margin: 0;
}

.parent{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    border: 0px solid yellowgreen;
}

.signupp{
  border: 0px solid pink;
 
  width: 45.0rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}