@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    font-size: 10px;
    
    --backgroundColor: #F9FAFB;
    --iconColor: brown;
    --backgrounHover: teal;

}

html{
     font-family: "Zalando Sans", sans-serif;;
}

.backgroundImage{
	width: 100%;
	height: 100%;
}

input[type="radio"]{
    padding: 0;
    margin: 0;
}

.parent{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    border: 0px solid yellowgreen;
}

.signupp{
  border: 0px solid pink;
 
  width: 45.0rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}